.dart_tool/
.packages
.pub-cache/
.pub/
build/

ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
android/.gradle/
android/local.properties

coverage/

.vscode/
.idea/
.DS_Store
*.swp
*.bak